/* Styles which apply to all devices (will be overridden for medium to large devices) */

@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300italic);

body {
	font-family: sans-serif;
	font-family: Helvetica;
	font-family: "Helvetica Neue";
	font-family: Lato;
	font-size: 16px;
	font-weight: 300;
}

div#main {
	background-image: url("../img/ricepaper_v3.png");
	opacity: 0.9;
}

a:link, a:visited {
	color: #0000AA;
	text-decoration: none;
}

a:hover, a:focus {
	color: #0000EE;
}

.h {
	font-family: sans-serif;
	font-family: Helvetica;
	font-family: "Helvetica Neue";
	font-family: Raleway;
	font-weight: 300;
}

#top_header {
	font-size: 300%;
	margin: 0;
}

h2 {
	font-size: 150%;
	font-color: #505050;
	margin: 0;
}

h3 {
	font-size: 125%;
	font-color: #505050;
}

#page_header, #info, #menu, #about, #footer {
	padding: 1em;
}

#page_header {
	background-color: #FA5A0F;
	border-bottom: solid 5px #EA4A00;
	color: #FFFFFF;
	position: relative;
}

#tag_line {
	display: none;
}

#menu {
	background-color: rgba(207, 205, 140, 0.5);
}

dt {
	font-weight: 400;
}

dd {
	font-size: 80%;
	font-style: italic;
	margin-left: 1em;
	margin-bottom: 1em;
}

#footer {
	background-color: #FC892F;
	border-top: solid 5px #EC791F;
	font-size: 80%;
	text-align: right;
}

nav ul {
	padding: 0;
	margin: 0;
}

nav li {
	list-style-type: none;
	display: inline-block;
	margin-right: 1em;
}

nav a {
	color: #55E;
}

nav a:hover, nav a:focus {
	color: #00E;
}

.container-fluid {
	margin-top: 0;
	margin-bottom: 0;
}

/* Styles which apply only to medium devices (desktops, 992px and up) */

@media screen and (min-width: 992px) {	 
	body {
		background-image: url("../img/background.jpg");
		background-size: cover;
		background-attachment: fixed;

		font-size: 18px;
	}

	#tag_line {
		display: block;
		font-size: 120%;
		color: #EEEEEE;
		margin: 0;
	}

	nav {
		position: absolute;
		top: 10px;
		right: 10px;
	}
	
	.container-fluid {
		margin: 20px; 
		margin-left: 30%; /* overrides left, leaves top, bottom, and right */
	}
}
